<div class="planet-list-wrapper">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="planet-list-container mat-elevation-z8">
    <div class="table-container" [style.height]="isLoading ? '538px' : 'unset'">
      <!-- Loader -->
      <div class="loader" *ngIf="isLoading">
        <mat-spinner diameter="50"></mat-spinner>
      </div>

      <perfect-scrollbar class="perfect-scrollbar">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Diameter Column -->
          <ng-container matColumnDef="diameter">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Diameter</th>
            <td mat-cell *matCellDef="let element">{{ element.diameter }}</td>
          </ng-container>

          <!-- Climate Column -->
          <ng-container matColumnDef="climate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Climate</th>
            <td mat-cell *matCellDef="let element">{{ element.climate }}</td>
          </ng-container>

          <!-- Population Column -->
          <ng-container matColumnDef="population">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Population</th>
            <td mat-cell *matCellDef="let element">
              <div class="population-wrapper">
                {{ element.population }}
                <i class="material-icons">open_in_new</i>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [routerLink]="['/planets', row.id]">
          </tr>
        </table>
      </perfect-scrollbar>
    </div>

    <mat-paginator
      [pageSizeOptions]="pagination.pageSizeOptions"
      [pageSize]="pagination.pageSize"
      [pageIndex]="pagination.pageIndex"
      [showFirstLastButtons]="true"
      (page)="planetService.pagination = $event">
    </mat-paginator>
  </div>
</div>
